/.idea/
/.gradle/

/build/
/out/
/temp/
/data/

hs_err_pid*

*.iml
src/test/scenarios/**/*.png
src/test/scenarios/**/*.svg
src/test/scenarios/**/*.yaml
webapp/examples/**/*.png
webapp/examples/**/*.svg
webapp/examples/**/*.yaml
src/test/scenarios/html/PartyApp/app__.mockup.html
src/test/scenarios/html/PartyApp/app19.html
src/test/scenarios/html/PartyApp/app18.html
src/test/scenarios/html/PartyApp/app17.html
src/test/scenarios/html/PartyApp/app16.html
src/test/scenarios/html/PartyApp/app15.html
src/test/scenarios/html/PartyApp/app14.html
src/test/scenarios/html/PartyApp/app13.html
src/test/scenarios/html/PartyApp/app12.html
src/test/scenarios/html/PartyApp/app11.html
src/test/scenarios/html/PartyApp/app10.html
src/test/scenarios/html/PartyApp/app09.html
src/test/scenarios/html/PartyApp/app08.html
src/test/scenarios/html/PartyApp/app07.html
src/test/scenarios/html/PartyApp/app06.html
src/test/scenarios/html/PartyApp/app05.html
src/test/scenarios/html/PartyApp/app04.html
src/test/scenarios/html/PartyApp/app03.html
src/test/scenarios/html/PartyApp/app02.html
src/test/scenarios/html/PartyApp/app01.html
src/test/scenarios/html/PartyApp/app00.mockup.html
